@import "../node_modules/redux-notifications/css/styles.css";

body {
  background: aliceblue;
}

.notif{
    font-size: 1.5rem;
    padding:1.5rem;
}
.notif__container{
    left:unset;
    right:0;
    bottom:10px;
    top:unset;
}
