@import "../bower_components/spectre.css/dist/spectre.css";
@import "../node_modules/redux-notifications/css/styles.css";

body {
  background: lightsteelblue;
}

.bg-gray{
   background-color: #efefef;
    border-radius: 0.3rem;
    padding: 1rem;
}
.bg-lightpink{
    background-color:lightpink;
}

.notif{
    font-size: 1.5rem;
    padding:1.5rem;
}
.notif__container{
    left:unset;
    right:0;
    bottom:10px;
    top:unset;
}